.content {
  display: flex;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.menu {
    background-color: #eee;
    padding: 1em;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    display: inline;
    margin-right: 10px;
}

.nav-list li a {
    text-decoration: none;
    color: #333;
}

.content {
    display: flex;
}

.text h2 {
    margin-bottom: 10px;
}

.image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.image img {
    max-width: 100%;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    flex-direction: column;
}

.sidebar h2,
.sidebar p {
    margin: 5px 0;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.text table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.text th, .text td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.text th {
    background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}